<html>
    <head>

    </head>
    <body>
  
        <div class="container">
        <span>It’s easy to take pizza for granted. It’s your go-to when you need an easy meal at home or for an office event. But don’t forget that a good pie can be elevated to gourmet cooking with the right combination of crust, sauce, cheese, toppings. It’s one of the most popular items to order, and we have the pizza statistics to prove it. Here are the most popular types of pizza.</span>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
            <div class="col">
              <div class="card ">
                <img src="../../assets/cheese.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">1. Cheese Pizza</h5>
                  <p class="card-text">It should be no shocker that a classic is the statistical favorite. Cheese pizza is one of the most popular choices. It will always be a simple, unadorned masterpiece on its own.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../assets/vegge.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">2. Veggie Pizza</h5>
                  <p class="card-text">When you want  ser to jazz up your cheese pizza with color and texture, veggies are the perfect topping.you can add peppers and mushrooms,eggplant and onions.</p>
               
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../assets/pepp.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">3. Pepperoni Pizza</h5>
                  <p class="card-text">There’s a reason this is one of the most popular types of pizza. Who doesn’t love biting into a crispy, salty round of pepperoni?</p>
                </div>
              </div>
            </div>
        
          </div>
        </div>
    </body>
    </html>
